<% if (!user) { %>
	<h1>Welcome! Please <a href="/login">log in</a>.</h1>
<% } else { %>
	<h1>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</h1>

	<h2> Go to your lifeNet organizer <a href='/home2'> home page </a>
<% } %>
