@media only screen and (max-width: 40em) {

  #netLink3 {
  	display: block !important;
	position: relative !important;
  }

}

.card{
	padding:1em;
}

#currentNet{
	font-size: 3em;
	text-align: center;
	font-style: bold;
}

#title3 {
	font-size: 18em;
}
#subtitle3 {
	font-size: 5em;
}

#netLink3 {
	position:relative !important;
/*	display: none !important;
*/
}

#summary{
	margin:3em;
}

#cy {
/*	width:80%;
*/	height:100%;
	display:block;
	border: 1px solid black;
/*	margin-left: 5%;
*/
};

/*#groupLinkContent{
	width:20%;
}*/

#container {
	margin:auto;
	text-align: center;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h4 {
	text-align: center;
}
#addNodeBtn {
/*	margin: auto;
*//*	text-align: center;
*//*	margin-left: 40%;
*/}

.answerBtnsSelected{
	background-color: red;
	color:red;
}

.specialButton:focus{
	background:lightblue;
}
