@media only screen and (max-width: 40em) {
  #netLink3 {
  	display: block !important;
	position: relative !important;
  }

}

#netLink3 {
	position:relative !important;
/*	display: none !important;
*/
}

#cy {
/*	width:80%;
*/	height:80%;
	display:block;
	border: 1px solid black;
/*	margin-left: 5%;
*/
};

/*#groupLinkContent{
	width:20%;
}*/

#container {
	margin:auto;
	text-align: center;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h4 {
	text-align: center;
}
#addNodeBtn {
/*	margin: auto;
*//*	text-align: center;
*//*	margin-left: 40%;
*/}

.answerBtnsSelected{
	background-color: red;
	color:red;
}

.specialButton:focus{
	background:lightblue;
}
